


/********** Genel Tanımlamalar **********/
body {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 30px;
    
}



/********** Navbar **********/

.navbar{
    
    justify-content: center;
    background-color: rgb(241, 241, 237);
    margin-bottom: 3px;

}

.input{
    width: 350px;
    height: 18px;
}



.div{
    display: inline;
    padding: 0px;
    

}

.article1{
    
    background-color: rgb(38, 238, 245);
    width: 572px;
    height: 70px;
    padding: 20px;
    position: relative;
    float: left; 

}

.article2{
  
    background-color: rgb(44, 202, 207);  
    width: 572px;
    height: 70px;
    margin-left: 4px;
    padding: 20px;
    position: relative;
    float: left; 

}

.article3{
   
    background-color: rgb(62, 198, 202);
    width: 572px;
    height: 70px;
    margin-left: 4px;
    padding: 20px;
    position: relative;
    float: left; 

}


